{% load i18n staticfiles cms_tags zawody_extras %}


<div class="panel panel-default">
    <div class="panel-heading"><b>MENU</b></div>
    <div class="panel-body">

        <!-- Panele Menu -->

        <div class="panel-group" id="accordion">
            <!-- Opcjonalny panel przeglądanych zawodów -->
            {% if field_event %}
                {% show_sub_menu event=field_event %}
            {% endif %}
            <!-- Panel Kalendarze -->
            {% show_calendar_menu calendar=calendar_object %}
            <!-- Koniec Panel Kalendarz -->

            <!-- Panel Wyniki -->
            {% show_results_menu results=results_object %}
            <!-- Koniec Panel Wyniki -->

            <!-- Panel Informacje o zawodach -->
            {% show_info_menu info=info_object %}
            <!-- Koniec Panel Informacje o zawodach -->

            <!-- Panel Rekordy -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/zawody/rekordy/"><span class="glyphicon glyphicon-star">
                        </span>REKORDY</a>
                    </h4>
                </div>
            </div>
            <!-- Koniec Panel Rekordy -->

            <!-- Panel Statystyki -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="/zawody/statystyki/"><span class="glyphicon glyphicon-stats">
                        </span>STATYSTYKI</a>
                    </h4>
                </div>
            </div>
            <!-- Koniec Panel Statystyki -->

            <!-- Panel Kalkulator wynikow -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="http://zawodypzwla.atp-web.eu/index.php?wybor=kalkulator"><span class="glyphicon glyphicon-scale">
                        </span>KALKULATOR WYNIKÓW</a>
                    </h4>
                </div>
            </div>
            <!-- Koniec Kalkulator Wynikow -->

            <!-- Noniec Panel Rekordy -->
        </div> <!-- Panel-group end group -->
    </div> <!-- Panel-body end group -->
</div> <!-- Panel menu end div -->
