{% load i18n staticfiles cms_tags zawody_extras %}


<div class="panel panel-default">
    <div class="panel-heading"><b>MENU</b></div>
    <div class="panel-body">

        <!-- Panele Menu -->

        <div class="panel-group" id="accordion">
            <!-- Opcjonalny panel przeglądanych zawodów -->
            {% if field_event %}
                {% show_sub_menu event=field_event %}
            {% endif %}
            <!-- Panel Kalendarze -->
            {% show_calendar_menu calendar=calendar_object %}
            <!-- Koniec Panel Kalendarz -->
            <!-- Panel Wyniki -->
            {% show_results_menu results=results_object %}
            <!-- Koniec Panel Wyniki -->
        </div> <!-- Panel-group end group -->
    </div> <!-- Panel-body end group -->
</div> <!-- Panel menu end div -->
