{% extends "pzwla_base.html" %}
{% load i18n staticfiles %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %} - Kalendarze archiwalne{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/bootstrapfixes.css">
{% endblock extra_css %}
{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">

        <div class="panel panel-default">
            <div class="panel-heading"><b>KALENDARZE ARCHIWALNE</b></div>
            <div class="panel-body">
                {% if archival_years %}
                    <h4>Poniżej znajduje się lista kalendarzy archiwalnych dostępnych na stronie:</h4>
                    <div class="list-group">
                    {% for year in archival_years %}
                        <a href="http://{{ request.get_host }}/zawody/kalendarz/{{ year }}" class="list-group-item">{{ year }}</a>
                    {% endfor %}
                    </div>
                {% else %}
                    <h4>Przepraszamy ale na ten moment nie mamy informacji o żadnych kalendarzach
                    archiwalnych. Proszę spróbować ponownie w przyszłości.</h4>
                {% endif %}
            </div>
        </div>
        </div>
        {% include "zawody/menu.html" %}
        <div class="col-md-1"></div>
    </div>
{% endblock content %}
