{% load i18n staticfiles %}

<!-- Foldery -->
{% for folder in sub_folders %}
    <div class="panel panel-file">
        <div class="panel-heading">
            <div class="row vertical-align">
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <a href="files/{{ folder.get_folder_path }}"><h2>{{ folder.name }}</h2></a>
                    </div>
                    <div class="row">
                        {{ folder.description }}<br>
                    </div>
                </div>
                <div class="col-md-4 horizontal-align">
                    Dodal: {{ folder.owner }}<br>
                    Data: {{ folder.get_date }}<br>
                    Rozmiar: {{ folder.get_mb_size }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}


<!-- Pliki -->
{% for plik in files %}
<div class="panel panel-file">
    <div class="panel-heading">
        <div class="row vertical-align">
            <div class="col-md-2">
                <img src="{{ plik.get_document_icon }}" class="img-rounded" style="vertical-align: middle">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <a href="{{ plik.url }}"><h2>{{ plik.name }}</h2></a>
                </div>
                <div class="row">
                    {{ plik.description }}<br>
                </div>
            </div>
            <div class="col-md-4 horizontal-align">
                Dodal: {{ plik.owner }}<br>
                Data: {{ plik.get_date }}<br>
                Rozmiar: {{ plik.get_mb_size }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
